<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UDTW.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45C22E1F2A9E11D8000B65C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45C22E302A9E11DA000B65C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45C22E3A2A9E11DA000B65C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
